.nav {
  display: flex;
  gap: 16px;
  cursor: pointer;
  :hover {
    text-decoration: underline;
  }
}

.nav a {
  text-decoration: none;
  color: #1976d2;
  font-weight: 500;
}

.nav a.active {
  border-bottom: 2px solid #1976d2;
}
